<section>
	<div>
		<h3>Cadastro</h3>
	</div>
	<div class="column">
		<div class="column">
			<label>
				Email
			</label>
			<input type="text" [(ngModel)]="userRegister.user.email" (keyup)="validFields()" autofocus>
		</div>
		<div class="column">
			<label>
				Digite uma senha
			</label>
			<input type="password" [(ngModel)]="userRegister.user.password" (keyup)="validFields()">
		</div>
		<div class="column">
			<label>
				Confirmar senha
			</label>
			<input type="password" [(ngModel)]="confirmPassword" (keyup)="validFields()">
		</div>
	</div>
	<div class="row">
		<div>
			<button type="submit" (click)="goToProfileTypeChoice()" [disabled]="disableRegisterButton" class="action">
				<span>
					Confirmar
				</span>
				<i></i>
			</button>
		</div>
	</div>
	<div class="row">
		<div>
			Ja tem uma conta? Faça o <strong (click)="goToLogin()">Login</strong> aqui!
		</div>
	</div>
</section>
