
div.user-icon
{
	width: 40px;
	margin: 0 auto;
	display: flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
}

header
{

	cursor: pointer;
	border: solid 2px var(--text-color);
	padding: 2rem .5rem .5rem;
	border-radius: calc(var(--border-radius-default) + .5rem);
	display: flex;
	position: absolute;
	z-index: 100;
	top: -35px;
	left: calc(100% - 300px);
	vertical-align: top;
	align-items: center;
	justify-content: center;
	height: 4rem;
}

.logout
{
	margin-left: .5rem;
	cursor: pointer;
}
