<section>
	<div>
		<button *ngFor="let profile of profilesItems" (mouseenter)="changeTextInfos(profile.profileType)">
			<i [ngClass]="[profile.iconClass]"></i>
			<span>
				{{ profile.profileName }}
			</span>
		</button>
	</div>
	<div>
		<div>
			<span>{{ itemToShow.description }}</span>
		</div>
	</div>
	<div>
		<button (click)="goToCompleteRegistration(itemToShow.profileType)">
			<span>
				{{ itemToShow.textButton }}
			</span>
			<i class="uil uil-angle-right-b"></i>
		</button>
	</div>
</section>
