<!-- <div class="row"> -->
	<div class="box-profile" *ngIf="donation?.donation_user?.id !== getUserId()" >
		<label>
			Dados do Doador
		</label>
		<div class="box">
			<div>
				<div>
					<i class="uil uil-user"></i>
					<span>
						{{ donation?.donation_user?.name }}
					</span>
				</div>
				<div class="column">
					<span>
						Email: {{ donation?.donation_user?.email }}
					</span>
					<span>
						Contato: {{ donation?.donation_user?.phone_number }}
					</span>
				</div>
			</div>
			<div *ngIf="donation?.donation_user?.user_organization !== null || donation?.donation_user?.user_organization !== undefined" >
				<div>
					<i class="uil uil-building"></i>
					<span>
						{{ donation?.donation_user?.user_organization?.name }}
					</span>
				</div>
				<div class="column">
					<span>
						CNPJ: {{ donation?.donation_user?.user_organization?.cnpj }}
					</span>
					<span>
						Email: {{ donation?.donation_user?.user_organization?.email }}
					</span>
					<span>
						Contato: {{ donation?.donation_user?.user_organization?.phone_number }}
					</span>
					<span>
						Responsável: {{ donation?.donation_user?.user_organization?.organization_owner_user?.name }}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="box-profile" *ngIf="donation?.donation_shipment?.shipment_transporter_user?.id !== getUserId()" >
		<label>
			Dados do Transportador
		</label>
		<div class="box">
			<div>
				<div>
					<i class="uil uil-user"></i>
					<span>
						{{ donation?.donation_shipment?.shipment_transporter_user?.name }}
					</span>
				</div>
				<div class="column">
					<span>
						Email: {{ donation?.donation_shipment?.shipment_transporter_user?.email }}
					</span>
					<span>
						Contato: {{ donation?.donation_shipment?.shipment_transporter_user?.phone_number }}
					</span>
				</div>
			</div>
			<div *ngIf="donation?.donation_shipment?.shipment_transporter_user?.user_organization  !== null || donation?.donation_shipment?.shipment_transporter_user?.user_organization  !== undefined" >
				<div>
					<i class="uil uil-building"></i>
					<span>
						{{ donation?.donation_shipment?.shipment_transporter_user?.user_organization?.name }}
					</span>
				</div>
				<div class="column">
					<span>
						CNPJ: {{ donation?.donation_shipment?.shipment_transporter_user?.user_organization?.cnpj }}
					</span>
					<span>
						Email: {{ donation?.donation_shipment?.shipment_transporter_user?.user_organization?.email }}
					</span>
					<span>
						Contato: {{ donation?.donation_shipment?.shipment_transporter_user?.user_organization?.phone_number }}
					</span>
					<span>
						Responsável: {{ donation?.donation_shipment?.shipment_transporter_user?.user_organization?.organization_owner_user?.name }}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="box-profile" *ngIf="donation?.donation_organization?.name !== getOrganizationName()">
		<label>
			Dados da Instituição Destinada
		</label>
		<div class="box">
			<div>
				<div>
					<i class="uil uil-building"></i>
					<span>
						{{ donation?.donation_organization?.name }}
					</span>
				</div>
				<div class="column">
					<span>
						CNPJ: {{ donation?.donation_organization?.cnpj }}
					</span>
					<span>
						Email: {{ donation?.donation_organization?.email }}
					</span>
					<span>
						Contato: {{ donation?.donation_organization?.phone_number }}
					</span>
					<span>
						Responsável: {{ donation?.donation_organization?.organization_owner_user?.name }}
					</span>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->
