<section>
	<div>
		<h3>Login</h3>
	</div>
	<div class="row">
		<div class="column">
			<label>
				Email
			</label>
			<input type="text" [(ngModel)]="userLogin.email" autofocus>
		</div>
		<div class="column">
			<label>
				Senha
			</label>
			<input type="password" [(ngModel)]="userLogin.password">
		</div>
	</div>
	<div class="row">
		<div>
			<button (click)="login()" type="submit">
				<span>
					Login
				</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div>
			Não tem uma conta? <strong (click)="goToRegister()">Cadastre-se</strong> aqui!
		</div>
	</div>
</section>
