<div class="shipment">
	<div class="timeline">
		<div class="delivered">
			<span class="title">
				Entrege
			</span>
			<span class="distributor-name">

			</span>
			<span class="date">

			</span>
		</div>
		<div class="transported">
			<span class="title">
				Em transporte
			</span>
			<span class="transporter-name">

			</span>
			<span class="date">

			</span>
		</div>
		<div class="donated">
			<span class="title">
				Doação realizada
			</span>
			<span class="donor-name">

			</span>
			<span class="date">

			</span>
		</div>
	</div>
</div>
