.donation-item
{
	font-family: var(--body-font);
	border: solid 2px var(--text-color);
	padding: .5rem;
	border-radius: var(--border-radius-default);
	margin-bottom: 1rem;
	max-width: 400rem;
	box-shadow: .3rem .3rem .3rem #9290907e;
}
