<div class="donation">
	<div>
		<label>
			Status
		</label>
		<span>

		</span>
	</div>
	<div>
		<label>
			Total de items doados
		</label>
		<span>

		</span>
	</div>
	<div>
		<label>
			Peso Total
		</label>
		<span>

		</span>
	</div>
	<div>
		<label>
			Data de Doação
		</label>
		<span>

		</span>
	</div>
	<div>
		<label>
			Data de Vencimento
		</label>
		<span></span>
	</div>
	<div>
		<span>Agendado para:</span>
	</div>
	<div>
		<label>
			Comentários
		</label>
		<span>

		</span>
	</div>
	<div class="provisions">
		<app-list-provisions></app-list-provisions>
	</div>
	<div class="shipment-info">
		<div>
			<app-shipment-timeline></app-shipment-timeline>
		</div>
	</div>
</div>
