<div *ngFor="let donation of donationsList; let i = index" class="donation" class="donation-item">
	<div>
		<div class="column">
			<label>
				Status:
			</label>
			<span>
				{{ donation?.status }}
			</span>
		</div>
		<div class="column">
			<label>
				Data de Doação
			</label>
			<span>
				{{ donation?.createdAt }}
			</span>
		</div>
		<div class="column">
			<label>
				Data Agendada
			</label>
			<span>
				{{ donation?.scheduled_at }}
			</span>
		</div>
		<div class="column">
			<label>
				Peso Total
			</label>
			<span>
				{{ donation?.total_weight }}
			</span>
		</div>
		<div class="column">
			<label>
				Total de items
			</label>
			<span>
				{{ donation?.total_items }}
			</span>
		</div>
	</div>
	<div class="shipment-info">
		<div>
			<app-shipment-timeline></app-shipment-timeline>
		</div>
	</div>
	<div>
		<div class="profile-info">
			<div>
				<app-shipment-timeline></app-shipment-timeline>
			</div>
		</div>
		<div class="profile-info">
			<div>
				<app-shipment-timeline></app-shipment-timeline>
			</div>
		</div>
	</div>
	<div class="provisions">
		<app-list-provisions [provisionsList]="donation?.donation_provisions"></app-list-provisions>
	</div>
	<div>
		<label>
			Comentários
		</label>
		<span>
			{{ donation?.comments }}
		</span>
	</div>
</div>
