<div class="back-button">
	<i class="uil uil-angle-left-b"></i>
	<a [routerLink]="['/home']">
		Voltar
	</a>
</div>
<section>
	<div>
		<h3>Resumo</h3>
		<div>
			<div class="column">
				<label>
					Data Agendada
				</label>
				<span>{{ newDonation.scheduled_at }}</span>
			</div>
			<div class="column">
				<label>
					Horário
				</label>
				<span>{{ newDonation.scheduled_at }}</span>
			</div>
			<div class="column">
				<label>
					Peso Total
				</label>
				<div>
					<span>{{ newDonation.total_weight }}</span>
					<span> KG</span>
				</div>
			</div>
			<div class="column">
				<label>
					Total de Itens
				</label>
				<span>{{ newDonation.total_items }}</span>
			</div>
		</div>
		<div>
			<label>
				Dados da Instituição Destinada
			</label>
			<div>
				<div>
					<i></i>
					<span>{{ distributorData?.name }}</span>
				</div>
				<div>
					<span>CNPJ: {{ distributorData?.name }}</span>
					<span>Email: {{ distributorData?.email }}</span>
					<span>Contato: {{ distributorData?.phone_number }}</span>
					<span>Responsável: {{ distributorData?.organization_owner_user?.name }}</span>
				</div>
			</div>
		</div>
		<div>
			<label>
				Itens Doados
			</label>
			<!-- <app-table []="newDonation.provisions"></app-table> -->
		</div>
		<div>
			<label>
				Comentários
			</label>
			<span></span>
		</div>
		<div class="row">
			<div>
				<button (click)="confirmDonation()" >
					<span>
						Confirmar Doação
					</span>
					<i></i>
				</button>
			</div>
		</div>
	</div>
</section>
