@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

:root
{
	//body
	--body-font: 'Nunito', sans-serif;
	--body-container: 83.333333%;
	--max-body-container: 100%;
	--border-radius-default: .5rem;
	--body-frame: 8.3333335%;
	--body-color: rgb(255, 226, 226);

	//header
	--header-height: 5rem;
	--header-font-size: 1.25rem;

	//colors
	--base-color: 0; //red base (0, 84%, 59%) 	#ee3f3f
	--light-color: 210; //white base (210, 17%, 98%) 	#F8F9FA
	--dark-color: 0; //black base (0, 0%, 18%) #2e2e2e

	--first-color: hsl(var(--base-color), 84%, 59%);
	--second-color: hsl(var(--base-color), 69%, 61%);
	--first-color-alt: hsl(var(--base-color), 57%, 53%);
	--first-color-lighter: hsl(var(--base-color), 92%, 85%);
	--title-color: hsl(var(--base-color), 8%, 15%);
	--text-color: hsl(var(--base-color), 8%, 45%);
	--text-color-light: hsl(var(--base-color), 8%, 65%);
	--input-color: hsl(var(--base-color), 70%, 96%);
	--body-color: hsl(var(--base-color), 60%, 99%);
	--container-color: hsl(var(--base-color), 0%, 100%);

	//font-sizes
	//default
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--big-font-size: 2rem;
	--normal-font-size: 1rem;
	--small-font-size: .8rem;
	--smaller-font-size: .75rem;

	//weight
	--font-medium: 600;
	--font-semi-bold: 700;
	--font-bold: 800;

	//z-index
	--z-index-tooltip: 10;
	--z-index-fixed: 100;
	--z-index-modal: 1000;
}

body
{
	padding-top: var(--header-height);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	width: var(--body-container);
	max-width: var(--max-body-container);
	margin: 0 var(--body-frame);
}

html
{
	scroll-behavior: smooth;
}

button
{
	font-family: var(--body-font);
	cursor: pointer;
	border: solid 2px var(--text-color);
	padding: .5rem;
	border-radius: var(--border-radius-default);
}

button.action
{
	border-radius: calc(var(--border-radius-default) + 1rem);
	min-width: 8rem;
}

button:hover
{
	background-color: var(--text-color);
}

strong
{
	cursor: pointer;
}

section
{
	width: 100%;
}

.row
{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.column
{
	display: flex;
	flex-direction: column;
	min-width: 25%;
}

h2, h3, h4
{
	margin-bottom: .5rem;
}

label
{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
}

a
{
	text-decoration: none;
}

.back-button
{
	cursor: pointer;
	font-size: var(--h1-font-size);
	text-decoration: none;
	position: absolute;
	top: 0;
	margin-top: 1rem;
}

.box
{
	font-family: var(--body-font);
	border: solid 2px var(--text-color);
	padding: .5rem;
	border-radius: var(--border-radius-default);
}
